body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    background: #fcfcf2
}

main {
    margin: 10% auto 10% auto;
    width: 50%;
    border: 4px dashed #DF0000;
    display: flex;
    align-items: center;
    flex-flow: column;
}

h1 {
    margin: 20px;
}


strong {
    margin: 20px;
}

em {
    color: #DF0000;
}

.dataBox {
    margin: 25px;
    text-align: left;
}

input[type=number] {
    width: 50px;
}

input[type=checkbox] {
    width: 25px;
    height:25px;
}